.table-pos {

  thead tr,
  tbody tr,
  tfoot tr {

    td:first-child,
    th:first-child {
      width: 10%;
      max-width: 10%;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 60%;
      max-width: 60%;
    }

    td:nth-child(3),
    th:nth-child(3) {
      width: 10%;
      max-width: 10%;
    }

    td:nth-child(4),
    th:nth-child(4) {
      width: 5%;
      max-width: 5%;
    }

    td:last-child,
    th:last-child {
      width: 10%;
      max-width: 10%;
    }

    td {
      font-size: 10px;
    }
  }
}

.scan-icon {
  font-size: 30px;
}

@media only screen and (min-width: 992px) {
  .sticky-checkout {
    position: sticky;
    top: 85px;
    right: 0px;
  }
}
